.body{
    font-size:1.2rem;
    font-family: 'Roboto', sans-serif;
}
button:focus {outline:0;}

.btn-search{
    background: transparent url(/static/icon/icon-search.svg) no-repeat center center;
}
.btn-post{
    background: transparent url(/static/icon/icon-cam.svg) no-repeat center center;
}
.btn-menu{
    width: 38px;
    height: 38px;
    background: transparent url(/static/icon/icon-burger.png) no-repeat center center;
}
.btn-home{
    width: 38px;
    height: 38px;
    background: transparent url(/static/icon/icon-home.png) no-repeat center center;
}
.btn-black {
    width: calc(1.5em + .75rem + 2px);
    height: calc(1.5em + .75rem + 2px);
    z-index: 1;
    padding: 0;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    box-sizing: content-box;
    background-color:black;
    display:inline-block
}


.btn-white {
    width: calc(1.5em + .75rem + 2px);
    height: calc(1.5em + .75rem + 2px);
    z-index: 1;
    padding: 0;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    box-sizing: content-box;
    background-color:white;
    display:inline-block
}

.form-control-nav
{
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 0rem;
    
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-bottom: 0.01142857rem solid #bbb;
    display:inline-block;
}
.icon::before{
    display: inline-block;
    font-family: frontstage-icons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content:"\EA2D";
}

input:active, 
input:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
.nav-right{
    right: 0;

}
.navbar {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 0.02142857rem solid #bbb;
}
.nav-word{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-size: 1.2rem;
    display: inline-block;
    position: relative;
    color:  black; 
    cursor:pointer; 
}


.nav-word:hover{
    color:  black;     
    border-bottom: 0.01142857rem solid #bbb;
}

.nav-item .avatar {

    max-width: 100%;
    width:3rem;
    height:3rem;
    object-fit: cover;
    border-radius: 50%; 
    text-align: center;
    border:  0.02142857rem solid rgb(30, 30, 30, 0.4);

    padding:0.15rem;
  }

  .avatar:hover {

    border:  0.02142857rem solid rgb(30, 30, 30, 0.4);
    padding:0.2rem;
  }
  .modal-open {
    padding-right: 0px !important;
}

  .modal{
    padding-right: 0px !important;
  }
  .modal.left .modal-dialog,
	.modal.right .modal-dialog {
        position: fixed;
        padding-right: 0px !important;
        opacity: 0.92;
		margin: auto;
		width: 30%;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}


	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	

	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Right*/
	.modal.right.fade .modal-dialog {
		right: 0;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
        border-radius: 0;
        border-top: none;
        border-bottom: none;
        border-right: none;

	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #ffffff;
	}
    .modal-backdrop {
        background-color: none;
     }
     .modal-header {
        padding: 1rem;
        border-bottom: 0.05142857rem solid #bbb;
    }  
    body.modal-open {
        height: 100vh;
        overflow-y: visible;
      }

.menu-title{
    margin-left: 2rem;
    font-size: 3rem;
    font-family: 'Playfair Display SC', serif;
    color: #000000;
}     
.menu{
   
}


.menu-title li {
    list-style-type: none;
}   
.menu-list li {  
    padding-top: 1.5rem;
    list-style-type: none;
}

.menu-list li a {
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
     color: #000000;
    text-decoration: none;
    color: #000000;

    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
.menu-list li a:hover {
    text-decoration: none;
    color: #000000;
    border-bottom: 0.05142857rem solid #000000;
  }

  
  .photo_area{
    text-align: center;

  }
 

  .card{
        border: 0;
        padding-bottom: 0px;
        border-radius: 8px; 
        margin: 0.2%;
        color:white;
        width: 32.90%; float: left;
        -webkit-mask-image: -webkit-radial-gradient(center, white, black)
    }

    
  @media only screen and (max-width: 1100px) {
    .card{
        margin: 0.1%;

        width: 24.73%; float: left;
    }
  }
  
.card:hover .category{
    opacity: 0.7;

    
  }
.card .category:hover {
    opacity: 1;
}

.card .author, .card .category, .card span{
    bottom: 0.5rem;
    left: 0.5rem;
    color: white;
    background-color:rgb(114,114,114,0.3);
    border-radius: 25px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.12rem;
    padding-bottom: 0.12rem;
    opacity: 0;

    height: 2rem;
}
  
.card-img{
    height: 30rem;
    width:100%;
    border-radius: 8px; 
    object-fit: cover;
    overflow: hidden;
  }
  .card .category{
    position: absolute;
    top:3%;
    left: 5%;
    opacity: 0;

    color:white;
    text-align: center;
    width: auto;
    padding: 0.2em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    vertical-align: bottom;
    border-radius: 30px;
    overflow: hidden;
    background-color:rgb(114,114,114,0.3);
}


  .card .author{
    position: absolute;
    top:86%;
    left: 5%;
    opacity: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
    width: auto;


    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    border-radius: 30px;
    overflow: hidden;
  }
  .card:hover .author{
    opacity: 0.7;

  }

  .card .author:hover{
      opacity: 1;
    }

  .card .author .author-avatar {
    width:1.5rem;
    height:1.5rem;
    object-fit: cover;
    border-radius: 50%; 
    text-align: center;
    border:  0.05142857rem solid rgba(255, 255, 255, 1);

  }

  .card .author .author-avatar:hover {
    border: 0rem solid rgba(255, 255, 255, 1);
  }
  .card span{
    width: 2.5rem;
    height: 2.5rem;
    line-height:2.5rem;
  }

.card .favorite{
    position: absolute;
    top:85%;
    left: 80%;
    opacity: 0;
    vertical-align: middle;
    text-align: center;

    vertical-align: bottom;
    border-radius: 50%;
    overflow: hidden;
}

.card:hover .favorite{

    opacity: 0.7;
  }
.card .favorite:hover {
    opacity: 1;
}

.card .like{
    position: absolute;
    opacity:0;
    top:85%;
    left: 88%;
    vertical-align: middle;
    text-align: center;

    vertical-align: bottom;
    border-radius: 50%;
    overflow: hidden;
}

.card:hover .like{

    opacity: 0.7;
  }
.card .like:hover {
    opacity: 1;
}



/*--slideEffect--*/
.slider_container div {
    opacity: 0;
    filter: alpha(opacity=0);
}

.slider_container div {
    -webkit-animation: round 7s linear ;
            animation: round 7s linear ;
}

@-webkit-keyframes round {
    10% {

        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    95% {

        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    100% {

        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}
@keyframes round {
    10% {
        opacity: 1;

        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    95% {
        opacity: 1;

        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    100% {
        opacity: 0;

        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

input{
    shape-rendering: crispEdges;
}
.index-area {
    margin-top:4.1rem;
}
.index-area .Info{
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    color: white;
    background-color:rgb(114,114,114,0.3);
    border-radius: 25px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.12rem;
    padding-bottom: 0.12rem;
    opacity: 0;
}

.index-area .most-popular-card:hover .Info{
    opacity:0.9;
}

.index-area .most-popular-sub-card:hover .Info{
    opacity:0.9;
}

.img_cover{
    float: left;
    height: 100%;
    width:100%;
    object-fit: cover;
}
.most-popular-card{
    height: 40rem;
    margin: 0%;
    width: 100%; 
    float: left;
    box-shadow: 3px 3px 10px rgb(114,114,114,0.3);
}
.most-popular-sub{
    margin-left: -0.1rem;
    margin-right: -0.1rem;
    display: flex;

}
.most-popular-sub-card{
    height: 40rem;

    margin: 0.1rem;
    width: 33.22%; 
    float: left;
    box-shadow: 3px 10px 11px rgb(114,114,114,0.3);
}
.index-area .panel{

}
.index-area .title{
    text-align: center;
    margin: auto;
    width: 100%;
    font-weight: 400;
    color: rgb(30,30,30,0.9);
    font-family: 'Playfair Display SC', serif;
    font-size: 2.8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}
.index-area .cat-title{
    text-align: center;
    margin: auto;
    width: 100%;
    font-weight: 400;
    color: rgb(30,30,30,0.9);
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}


.top-card{
    height: 30rem;
    margin: 0.2%;
    width: 24.5%; 
    float: left;

}
.top-card .img-box{
    height: 85%;
    width:100%; 
    border-radius: 0px;
/* 1em = 10px 
    -webkit-mask-image: -webkit-radial-gradient(center, white, black);*/
    box-shadow: 3px 3px 10px rgb(114,114,114,0.3);
}


.top-img {
    float: left;
    height: 100%;

    width:100%;
    object-fit: cover;
    
}
.top-img:hover {

    opacity: 0.8;
    width:100%;

    
}

.top-card .info{
padding-left: 1rem;

}
.top-card .category-title{
    width: 100%;
}
.top-card .category-title span{
    color: rgba(40, 40, 50, 1);
    background: rgba(40, 40, 70, 0);
    opacity: 1;
    font-size: 1.2rem;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    border-radius:0px;     
    line-height: 30px;
    opacity: 1;
    height: 30%;

    -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;

}

.top-card .photo-title{
    width: 100%;
}
.top-card .photo-title span{
    font-family: 'Raleway', sans-serif;
    font-size: 1.0rem;
    padding-top:0px;
    letter-spacing: 0.01em;
    padding-left:0px;
    text-align: left;
    list-style-type: none;
    color:  rgba(40, 40, 50, 1);
}

.top-card .enter{    
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    padding-left:0px;
    top: 65%;
    left: 5%;
    width: 20px;
    height: 20px;
    border-radius:30px;     
    opacity: 0;
}

.top-card:hover .enter {
    opacity: 1;
    width: 40px;
    
}




.top-card div span{


}
.tem
{
    -webkit-transform:scaleY(0);
        -ms-transform:scaleY(0);
            transform:scaleY(0);
    -webkit-transform:scaleY(1);
    -ms-transform:scaleY(1);
        transform:scaleY(1);
}

.slider_container:hover div {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}









/*profile*/
.profile{
    position: absolute;
    top: 20%;
    left: 5%;
    
}
.profile .follow{
    height: 1.5rem;
    font-size: 0.7rem;
    padding:0.2rem 0.2rem;
    font-family: 'Roboto', sans-serif;
}
.media-body .btn{
    font-size:0.81rem;
    line-height: 1.2;

}


.media-body .edit{
    position: absolute;
    height: 18px;
    width: 18px;
    top:0%;
    left:0%;
    
    opacity: 0;

}
.profile_page{
    margin-top: 4.2rem;
}
.profile-data .name{
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
}


.profile-data .statistic{
    font-family: 'Roboto', sans-serif;

}

.profile-data .descr{
    font-family: 'Raleway', sans-serif;


}


.profile-avatar:hover .edit{
    position: absolute;
    height: 16px;
    width: 16px;
    top:17%;
    left:46%;
    opacity: 0.9;
}
.profile-avatar .edit{
    position: absolute;
    height: 18px;
    width: 18px;
    top:-100%;
    left:-100%;
    
    opacity: 0;

}
.profile-avatar{
    margin: 0px;
    width:16rem;
    height:16rem;
    border-radius: 50%; 
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.profile-avatar:hover .photo{
    margin: 0px;
    border-radius: 50%; 
    opacity: 0.9;

}

.profile-avatar .photo {
    width: 100%;
    height:100%;
    border-radius: 50%; 
    object-fit: cover;
    border:  0.2rem solid #fff;
  }


.profile-container{
    background-color: rgba(6, 22, 87, 0.5);
}

.profile-background{
    height:30rem;
    width:100%;
    object-fit: cover;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    opacity: 0.8;

}


  .account-nav{
    background-color: white;
    margin-top:0rem;
    padding-top:0rem;
    padding-left:0rem;
    padding-right:1.5rem;
    padding-bottom:0.5rem;
    width: 100%;
    border-bottom: 0.02142857rem solid #bbb;

  }

  .account-nav ul { 
    margin:auto;
    padding: 0px 0; 
    list-style: none; 
    display: table;
    width: 100%;
    display: inline-block;
    text-align:center;
    
  }
  .account-nav li { 
    display: table-cell; 
    position: relative; 
    padding-bottom:1rem;
  }
  .account-nav a {
    color: black;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-size: 1rem;
    display: inline-block;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top:2rem;
    padding-bottom:0.3rem;
    position: relative;
  }
  .account-nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 0.05rem;
    left: 50%;
    position: absolute;
    background: rgba(60, 60, 60, 0.7);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0%; 

  }

.account-nav a:hover:after { 
    width: 100%; 
    left: 0; 

}
    a.account-nav-click:after { 
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 0.05rem;
        left: 50%;
        position: absolute;
        background: rgba(60, 60, 60, 0.7);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 100%; 
        left: 0rem; 
    }

  



  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }
  

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }










  .login{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:white;
  }
.login-option li a{
    color:   rgb(30, 40, 120, 0.9);
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;

}
.login-option{
    padding-inline-start:0px;
}
.login-option li {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.btn-dark{
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}


.btn-dark:hover{
    color: #000000;
    background-color: #fff;
    border-color: #000000;
}



.btn-black-border{

    color: #000000;
    background-color: #fff;
    border-color: #000000;
}

   


.btn-black-border:hover{
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}
    

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .form-signin ul li{
    list-style: none;

  }
  .form-signin .register{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: black;
    text-align: left;

  }
  
  .form-sign-up .finished{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    color: black;
    margin: auto;
    text-align: center;

  }
  .form-sign-up .sign-in{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: black;
    text-align: left;
    padding-left: 0.5rem;
  }
  .form-sign-up .sign-up-btn{
    right:0;
    bottom:0;
    font-size: 1.5rem;
    width: 50%;
    margin:auto;
    font-family: 'Raleway', sans-serif;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  .form-sign-up, .form-change-password{
      width: 70%;
      margin-top: 10rem;
      padding-top: 5rem;
    margin: auto;
}
  .form-sign-up .form div p{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;

}
.form-col #id_username, #id_email, #id_password, #id_nickname
, #id_description, #id_postcode{
    width: 100%;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    font-family: 'Roboto', sans-serif;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2;
    color:  black;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 0rem;
    border-bottom: 0.00142857rem solid black;
    display:inline-block;
}

#id_old_password,#id_new_password1, #id_new_password2{
    width: 100%;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    font-family: 'Roboto', sans-serif;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2;
    color:  black;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 0rem;
    border-bottom: 0.00142857rem solid black;
    display:inline-block;
}
.form-sign-up .form .form-col{
    margin-bottom: 1.5rem;
    width: 100%;
}

.helptext{
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    color: rgb(114,114,114,0.8);
    padding-left: 0.7rem;
}

.form-sign-up .form .form-col .helptext{
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    color: rgb(114,114,114,0.8);
    padding-left: 0.7rem;
}
.form-sign-up .form .form-col .form-header{
    width:100%; font-size:1.5rem; padding-left:0;
    font-family: 'Raleway', sans-serif;
    color:  black;
}

.form-sign-up .form .form-col .sign-up-avatar{
    width:100px;
    height:100px;
    border-radius: 8px;
    border: 0.0142857rem solid black;
    object-fit: cover;
}
.form-sign-up .form .form-col #id_image{
    font-size:1.5rem; padding-left:0;
    font-family: 'Raleway', sans-serif;
}
.form-sign-up .form .form-col ul{
    list-style: none;
    padding-left: 0rem;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}
.edit-profile-form label{
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    color: rgb(114,114,114,0.8);
    padding-left: 0rem;

}

 .edit-avatar{
    margin-top: 1rem;
    width:200px;
    height:200px;
    border-radius: 8px;
    border: 0.0542857rem solid rgb(114,114,114,0.2);
    object-fit: cover;
}



 .edit-btn{

    right:0;
    bottom:0;
    font-size: 1.5rem;
    width: 20%;
    font-family: 'Raleway', sans-serif;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }

  .photoPage-img{
    width: 70%;
    height: 100%;
    float: left;
    min-height:300px; 

}

 .relate-title{
    text-align: center;
    margin: auto;
    width: 100%;
    font-weight: 400;
    color: rgb(160,160,160,0.8);
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.related_photos_area{

    box-shadow: 0px -2px 4px rgb(160,160,160,0.1);
}


.photoPage .follow{
  
}

.photoPage-img img{
    width: 100%;
    height: 100%;

    min-height:300px; 
    object-fit: cover;
}
.photoPage .author{

}

.photoPage .photo-title{
    font-size: 5rem;
    font-weight: 400;
    color:black;
    font-family: 'Roboto', sans-serif;
}
.photo-describ-area{
    max-height: 10rem;
}
.photo-describ{
    max-width:70%;
    font-size: 1.8rem;
    font-weight: 400;color:black;
    font-family: 'Roboto', sans-serif;
}
.photo-descrip-more{
    color: rgb(114,114,114,0.9);
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
}

.photoPage .panel .category{
    font-size: 0.5rem;
    font-family: 'Raleway', sans-serif;
    color:   rgb(114, 114, 120, 0.9);
}

.photoPage .panel .date{
    font-size: 0.5rem;
    font-weight: 400;
    
    color:rgb(160,160,160,0.8);
    font-family: 'Roboto', sans-serif;
}


.photoPage .panel .statistic{
    font-size: 1.5rem;
    font-weight: 400;
    color:black;
    font-family: 'Roboto', sans-serif;
}
.photoPage .photo-tag-area{
    color:   rgb(30, 40, 120, 0.9);
    font-size: 1.5rem;
}

.photoPage .photo-tag{

    font-family: 'Raleway', sans-serif;

}
.photoPage .panel{
    width: 30%;
    float: left;
    padding-left: 2rem;
    padding-right: 2rem;


}

.photoPage .panel  .action{
    font-size: 1.5rem;


}

.photoPage .panel .action .show-pic-like-btn{


}
.photoPage .panel .action .show-pic-like-btn:hover{
    color:  rgba(238, 73, 87, 0.8);


}

.photoPage .panel .action .comment-btn:hover{
    color:  rgba(238, 73, 87, 0.8);

}

.photoPage .panel .action .collection-btn:hover{
    color:  rgba(238, 73, 87, 0.8);

}
.photoPage .author .author-avatar {
    width:6rem;
    height:6rem;
    object-fit: cover;
    border-radius: 50%;
    text-align: center;
    padding: 0.1.5rem;
    border:  0.05142857rem solid rgba(1, 1, 1, 0.2);

  }
  .photoPage .author .author-avatar:hover {
  border:  0.1142857rem solid rgba(1, 1, 1, 0.1);
    padding: 0.2rem;
}


.photoPage .author .name {
font-family: 'Roboto', sans-serif; 
font-size:2.5rem; overflow: hidden; 
text-overflow: ellipsis;
}
.photoPage .panel  .review_title{
    color: rgb(160,160,160,0.9);
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.photoPage .panel  .review_title:hover{
    color:   rgb(30, 40, 120, 0.9);
    font-family: 'Roboto', sans-serif;
}

.photoPage .panel .review_title_unactive{
    color: rgb(160,160,160,0.9);
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}
.photoPage .panel .review .review-avatar{
    width:6rem;
    height:6rem;
    object-fit: cover;
    border-radius: 50%; 
    text-align: center;
    border:  0.05142857rem solid rgba(1, 1, 1, 0.2);
    padding: 0.1.5rem;

}

a:hover{
    text-decoration: none!important; 
}
.a-link{
    color:black;
}

.a-link:hover{
    color: rgb(160,160,160,0.9);
    text-decoration: none; 

}
.photoPage .panel .review .review-avatar:hover{
    border:  0.1142857rem solid rgba(1, 1, 1, 0.1);
    padding: 0.2rem;

}


.photoPage .panel .review .review-author{
    color:   black;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
.photoPage .panel .review .review-content p{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: block!important;

    white-space: normal;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: N; 
}

.photoPage .panel .review .review-time{
    font-size: 0.9rem;
    font-weight: 300;
    color:rgb(114,114,114,0.9);
    font-family: 'Roboto', sans-serif;
}
#review_form{
    width: 100%;
    height: 100%;
}
.photoPage .review-write-panel{
    width: 100%;
    height:8rem;

}

.photoPage{
    height: 100%;
    box-shadow: 0px 1px 3px rgba(114, 114, 114, 0.1);
}
#cke_1_contents{
    height: 5rem!important;


}
.django-ckeditor-widget{
    width: 100%;
}
.django-ckeditor-widget #cke_id_content  {

    -webkit-mask-image: -webkit-radial-gradient(center, white, black);
}
.django-ckeditor-widget textarea  {
    border-radius: 8px!important;
    border:  1rem solid #bbb!important;
}
.cke_top{
    background: #fff!important;
    padding: 2px 8px 2px!important;
}
.photoPage #review_form .review-submit-btn{
    position: absolute;
    top:0.5rem;
    right:0.5rem;
    font-size: 1.2rem;
    color:rgba(1, 1, 1, 0.6);
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    border: 0; 
}
.photoPage #review_form #cke_1_top{
    display:none;
}
.photoPage #review_form .review-submit-btn:hover{
    background-color: #fff;
    color:rgba(1, 1, 1, 1);
    border: 0; 
}

.photoPage .review-back-btn{
    position: fixed;
    top:6rem;
    left: 80%;
    display: none;
    font-size: 1.5rem;
    color:rgb(114,114,114,0.7);
}

.photoPage .review-back-btn:hover{
    color:rgb(30,40,70,1);
}

.photoPage .back-btn{
    position: absolute;
    top:2rem;
    right:2rem;
    font-size: 1.5rem;
    color:rgb(114,114,114,0.7);
}

.photoPage .back-btn:hover{

    color:rgb(30,40,70,1);
}

.post-photo{
  
    margin-top: 7rem;
    height: 80%;
    background-color: #fff;
    width: 80%;
    margin: auto;
}
.post-photo-panel{
    height: 100%;
    z-index: 1029;
    margin: auto;
    display: none;
    background-color: rgb(114,114,114,0.5);
}
.post-photo-panel form{ 
    margin-top: 7rem;
    height: 100%;
}

.post-photo .img-area{ 
    border:  0.05rem solid #bbb;
    width: 60%;
    height: 100%;
    border-radius: 8px;
    -webkit-mask-image: -webkit-radial-gradient(center, white, black)
}
.post-photo .panel{
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.post-photo .upload-img{
    width: 100%;
    height: 100%;

    min-height:300px; 
    object-fit: cover;

}
.post-photo .categories{

}



.post-photo .btn-category{
    color: #000000;
    background-color: #ffffff;
    border-color: #000000;
    font-size: 0.9rem;
    font-family: 'Raleway', sans-serif;
    padding: 0.3rem;
}

.post-photo input[type="file"] {
    display: none;
}   
.post-photo .image-upload {
    border: 0px solid #ccc;
    display: inline-block;
    padding: 15rem 15rem;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top:15%;

    left: 4%;
}

.post-photo .btn-category:hover{
    color: #ffffff;
    background-color: #000;
    border-color: #000000;
}

.post-photo #id_Image{
  
    opacity: 0.9;
    background-color: #fff;
    width: 55%;
    padding: 0.5rem;
    border: 0.05rem solid #fff;
    border-radius: 8px;
    font-size: 1.2rem;
}
.post-photo #id_Description{
    margin-top: 1rem;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    font-family: 'Roboto', sans-serif;
    padding: .375rem .75rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    color:  black;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 0rem;
    border-bottom: 0.00142857rem solid black;
    display:inline-block;
    width: 100%;

}
::placeholder {
    color: rgb(30, 40, 40, 0.9);
  }

.post-photo #id_Title{
    margin-top: 1rem;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    font-family: 'Roboto', sans-serif;
    padding: .375rem .75rem;
    font-size: 5rem;
    font-weight: 400;
    line-height: 5rem;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 0rem;
    border-bottom: 0.00142857rem solid black;
    display:inline-block;
    width: 100%;

}   

.post-photo #id_Tag{
    position: absolute;
    top:55%;
}
.post-photo .text-area{
    width: 45%;
    padding-left: 3rem;
    padding-right: 0rem;
}
.post-photo .tag_panel{
    margin-top: 2rem;
}
.post-photo .text-area #category-1{
    font-size: 2rem;
    padding-left:0.2rem;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 8px;
}
.post-photo .post-btn{
    position: absolute;
    right:3rem;
    bottom:4rem;
    font-size: 1.5rem;
    width: 4rem;
    font-family: 'Raleway', sans-serif;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.post-photo .btn-post-close{
    position: absolute;
    right:0;
    top:0;
}


.dropbtn {
    background-color: white;
    color: black;
    width: 50%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 0.00142857rem solid black;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: black;
    color: white;
  }
  
  /* The search field */
  #myInput {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    background: white;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    width: 100%;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 0rem;
    border-bottom: 0.00142857rem solid black;
    display:inline-block;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    position: absolute;
    display: none;
    height: 9rem;
    background-color: white;
    width: 100%;
    border: 0.05rem solid #bbb;
    z-index: 1;
    overflow:scroll;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: black;
    padding:  0.2rem;
    text-decoration: none;
    display: block;
  }

  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #bbb}

#tags_area{
    padding-top: 2rem;
    width: 90%;
    overflow: hidden;
}
.tag{
    float: left;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    border: 0.05rem solid #bbb;
    border-radius: 3px;
    padding-left: 0.2rem;
    padding-right: 0.1.5rem;
    margin-right: 0.2rem;
}

.tag:hover{
    background-color: rgb(114,114,114,0.1);
    float: left;

    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    border: 0.05rem solid #bbb;
    border-radius: 3px;
    padding-left: 0.2rem;
    padding-right: 0.1.5rem;
    margin-right: 0.2rem;
}
#delete_tag{
    background-color: transparent;
    border: 0;

}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
#tags_data_area{
    top:-1000px;
    z-index: -1;
    visibility:hidden;  
}
.btn-add-tag{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}


.profile-area{
    position: absolute;
    top:0;
    padding-left: 20em;
    padding-right: 20rem;    
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    padding-top: 10rem;  
    display: none;
}

.profile-area .avatar-big-area{
    object-fit: cover;
    width: 40%;
    height: 80%;
    float: left;

    box-shadow: 3px 3px 4px rgb(114,114,114,0.2);

}

.profile-area .photo{
    object-fit: cover;
    width: 100%;

    height: 100%;
    border-radius: 8px;     
    -webkit-mask-image: -webkit-radial-gradient(center, white, black)
}
.profile-area .info-area{
    width: 60%;
    height: auto;
    float: left;

}
.profile-area .info-area{
    padding-left: 3rem;
}

.profile-area .info-area .name{
    font-size: 10rem;
    color:black;
    display: flex;
}
.profile-area .info-area .statistic{
    font-size: 1.8rem;

    color: rgba(30, 30, 30, 1);
}
.profile-area .info-area .descr{
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    color: rgba(30, 30, 30, 0.3); 
}
.profile-area .info-area .descr:hover{
    color: rgba(60, 60, 60, 0.7);
}
.profile-area .info-area .gender{
    position: absolute;
    bottom:0.5rem;
    left: 0;
    margin-top: auto;
    font-size: 1.5rem;
}

.profile-area .info-area .contact{
    font-size: 1.8rem;

    color: rgba(30, 30, 30, 0.3); 
}

.profile-area .info-area .contact:hover{
    color: rgba(60, 60, 60, 0.7);
}
.profile-area .info-area .btn-edit{
    font-size: 1.2rem;
    margin-top: 3rem;
    font-family: 'Raleway', sans-serif;
    background-color: #333;
}
.profile-area .info-area .btn-edit:hover{
    color: #333;
    background-color: #fff;
    border-color: #333;
}
