<!DOCTYPE html>

{% load staticfiles %}

{% block body_block %}
{% for result in page.object_list %}
    
    {% if result.object.Title %}
    <!-- Title: {{ result.object.Title }}
    Description: {{ result.object.Description }}
    {{ result.object.Catgory.name }}
    {% for tag in result.object.Tag.all %}
            {{ tag }}
        {% endfor %} -->
    <li><a href="{% url 'capturer:show_photo' result.object.Category.slug result.object.id %}"><img src="{{ MEDIA_URL }}{{ result.object.Image }}" width="100" height="100" /></a></li>
    {% endif %}

   

    {% if result.object.user %}
        <!-- {% for photo in photos %}
            {{ photo.Title }}
        {% endfor %} -->
        <a href="{% url  'capturer:profile' user.username %} " class=""><img class="avatar"   src="{{ MEDIA_URL }}{{ result.object.user.userprofile.image }}" width="30" height="30" alt="Avatar" /></a>
        <a href="{% url 'capturer:profile' result.object.user.username %} ">{{ result.object.user.username }}</a>
    {% endif %}
    

    <!-- {% if result.object.name %}
        <li>Category:<a href="{% url 'capturer:show_category' result.object.slug %}">{{ result.object.name }}</a></li>
    {% endif %} -->

{% empty %}           
        No results found.
{% endfor %}

{% endblock %}