<!DOCTYPE html>

{% extends 'capturer/base.html' %}
{% load staticfiles %}

{% block title_block %}
SearchPage
{% endblock %}
{% block body_block %}
{% for result in page.object_list %}   
    {% if result.object.Title %}
        <div >
            <div class="col px-0 py-0  card">  
                <a href="{% url 'capturer:show_photo' result.object.Category.slug result.object.id %}">
                <img class="card-img img-fluid" src="{{ MEDIA_URL }}{{ result.object.Image }}"/></a>  
                <a class="category" href="{% url 'capturer:show_category' result.object.Category.slug %}" >{{ result.object.Category }}<a class="far fa-arrow"></a></a>
                <a class="author" href="{% url 'capturer:profile' result.object.author.username %}"><img class="author-avatar" src="{{ MEDIA_URL }}{{ result.object.author.userprofile.image }}" alt="Avatar" />&nbsp{{ result.object.author.username }}</a>
                
            </div>
        </div>    
    {% endif %}
    
   

    {% if result.object.user %}
        <div >
            <div class="col px-0 py-0  card">  
                <a href="{% url  'capturer:profile' result.object.user.username %}">
                <img class="card-img img-fluid" src="{{ MEDIA_URL }}{{ result.object.user.userprofile.image }}"/></a>  
                <a class="author">{{ result.object.user.username }}</a>
            </div>
        </div>  
    {% endif %}
    

    <!-- {% if result.object.name %}
        <li>Category:<a href="{% url 'capturer:show_category' result.object.slug %}">{{ result.object.name }}</a></li>
    {% endif %} -->

{% empty %}           
    No results found.
{% endfor %}

{% endblock %}

