<!DOCTYPE html>

{% load staticfiles %}


<html>
       <head>

              <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
              <script src="{% static 'js/select2.min.js' %}"defer></script>
              <script src="{% static 'js/base.js' %}"defer></script>
              
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
             
              <link rel="stylesheet" href="{% static 'css/select2.min.css' %}"></link>
              <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
              <link rel="stylesheet" href={% static 'css/navbar.css' %} crossorigin="anonymous">
              <link href="{% static 'css/icon/all.css' %}"  rel="stylesheet">
              <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC|Playfair+Display:400|Poiret+One|Raleway:300,400,500|Roboto:300,400&display=swap" rel="stylesheet">           
              <link rel="apple-touch-icon" sizes="180x180" href="{% static 'fav/apple-touch-icon.png'%}">
              <link rel="icon" type="image/png" sizes="32x32" href="{% static 'fav/favicon-32x32.png'%}">
              <link rel="icon" type="image/png" sizes="16x16" href="{% static 'fav/favicon-16x16.png'%}">
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
               <title>
                     {% block title_block %}
                     {% endblock %}
               </title>
               <script src="{% static "js/jquery.js" %}" crossorigin="anonymous"></script>
                     {% block script_block %}
                     {% endblock %}
       </head>
        <body>
              <div>
                      <nav class="navbar navbar-expand-lg fixed-top py-1 mb-0" id="navbar" style="background-color: #ffffff;">    
                            <a class="navbar-brand mb-0 h1 " href="{% url 'capturer:index' %}" style = " font: 400 20px 'Playfair Display SC', serif; color:black;">Capturer</a>
                            <ul class="navbar-nav mr-auto">
                                   <li class="nav-item">
                                          <form class="mr-auto pb-2 mb-0"action="/search" method="get">
                                                 <div class="input-group">
                                                        <input type="text" class="form-control-nav"    aria-label="Search" size="auto" name="q" aria-describedby="inputGroup-sizing-default">
                                                        <div class="input-group-prepend pt-3">
                                                               <input type="image" src="/static/icon/icon-search.svg"  class="" type="submit" style="height:1.8rem;" />
                                                        </div>
                                                 </div>
                                          </form>
                                   </li>
                            </ul>
                            <ul class="navbar-nav ml-auto">
                                   <li class="nav-item pt-2 px-3">
                                          {% if user.is_authenticated %}  
                                           <a class="nav-link nav-word btn-nav-post">Post <span class="fas fa-camera"></span></a>
                                          {% else %}
                                          <a class="nav-link nav-word" href="{% url 'capturer:login' %}">Post <span class="fas fa-camera"></span></a>
                                          {% endif %}
                                   </li>
                                   <li class="nav-item pt-1">
                                         
                                   </li>
                                   <li class="nav-item px-4  pt-2">
                                           <a class="nav-link nav-word" href="{% url 'capturer:index' %}">Home</a>
                                   </li>
                                   {% if user.is_authenticated %}  
                                   <li class="nav-item dropdown pt-1 pl-4 pr-1" >
                            
                                          <a href="{% url  'capturer:profile' user.username %} " class="">
                                          {% if user.userprofile.image%}
                                          <img class="avatar"   src="{{ MEDIA_URL }}{{ user.userprofile.image }}"  alt="Avatar" />
                                          {% else %}
                                          <img class ="avatar" src="{% static "default-img/avatar.png" %}"  >
                                          {% endif %}
                                          </a>
                                          
                                   </li>     
                                   <li class="nav-item dropdown pt-1 pl-2 pl-0 pr-4" >
                                          <a class="nav-link dropdown-toggle pl-0 ml-0 nav-word " style = "cursor:pointer; display:inline-block;"  " id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ">
                                          {{ user.username }}
                                          </a>
                                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"  >
                                                 <a class="dropdown-item" href="{% url  'capturer:profile' user.username%}" style="font-size: 12px;" >My account</a>
                                                 <a class="dropdown-item" href="{% url 'capturer:change_password' %}"style="font-size: 12px;" >Change password</a>
                                                 <a class="dropdown-item" href="{% url 'capturer:logout' %}"style="font-size: 12px;">Logout</a>
                                          </div> 
                                   </li>                                   
                                   {% else %} 
                                   <li class="nav-item  pt-2 px-4"  style= "display:inline-block;">
                                          <a class="nav-link  nav-word" href="{% url 'capturer:login' %}">Login</a>
                                   </li>
                                   {% endif %}

                                   <li class="nav-item pr-4 pt-2"  style= "display:inline-block;">
                                          <input type="image" src="/static/icon/icon-burger.svg"  class="" style="height:30px;" data-toggle="modal" data-target="#myModal2"/>
                                   </li>
                            </ul>
                     
                     </nav>
                     	<!-- Modal -->
                     <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" data-backdrop="false">
                            <div class="modal-dialog" role="document">
                                   <div class="modal-content">
                                              
                                          <div class="modal-header pt-4 mt-3">
                                          <span class = "menu-title" >Category</span>  
                                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                 
                                          </div>

                                          <div class="modal-body pt-2 ">
                                                 
                                                 {% if categories %} 
                                                        <ul class="pt-2 menu-list"> 
                                                        {% for category in categories %} 
                                                        <li ><a class ="menu" href="{% url 'capturer:show_category' category.slug %}">{{ category.name }}</a></li>
                                                        {% endfor %} 
                                                        </ul> 
                                                        {% else %} 
                                                               <strong>There are no categories present.</strong> 
                                                 {% endif %} 
                                          </div>

                                   </div><!-- modal-content -->
                            </div><!-- modal-dialog -->
                     </div><!-- modal -->
                    <div class="post-photo-panel fixed-top" id="post_photo">
                            <form id="photo_form" method="post" action="{% url 'capturer:post_photo' %}" enctype="multipart/form-data">
                       
                                   <div class="post-photo col  px-4  " id="post_photo">
                                          
                            
                                          <div class="row mx-0 px-4  d-flex panel" >
                                                  {% csrf_token %}
                                                 <div class="img-area col mx-0 p-0">
                                                       <img class="upload-img" src="" height="100%" width="100%" id="upload_img" style="display: none;"/>
      
                                                 </div>
                                                 
                                                 <div class="text-area mx-3">

                                                        <div class="row mx-0 ">
           

                                                               <select id="category-1" required value="" placeholder="Select Your category" name="Category">
                                                                      <option value="" >Select a category</option>
                                                                      {% for category in categories %}
                                                                      <option value="{{category.name}}">{{category.name}}</option>
                                                                      {% endfor %}
                                                               </select>
                                                         </div>
                                                         <div class="row mx-0 my-4">
                                                               <input type="text" name="Title" maxlength="128" required id="id_Title">  
                                                        </div>
                                                        <div class="row mx-0 my-4">                                                   
                                                               <input type="text" name="Description" maxlength="500" required id="id_Description">
                                                        </div>
                                                        
                                                        <div class="tag_panel">
                 
                                                               <div class="dropdown">
                                                                      <input type="text" onclick="searchTag()" placeholder="Try our tag!" id="myInput" onkeyup="filterFunction()">
                                                                             <div id="myDropdown" class="dropdown-content" data-spy="scroll" >
                                                                                    {% for tag in tags %}
                                                                                           <a>{{tag}}</a>
                                                                                    {% endfor %}
                                                                             </div>
                                                               </div>
                                                              
                                                              
                                                               <button class="btn btn-dark btn-add-tag" type="button" value='' id='add_tag'>Add</button>
                                                               <br/>
                                                               <div id='tags_area'></div>
                                                               <input id='tags_data_area' type="text" name="tags">
                                                                      
                                                        </div>
                                                        <label for="id_Image" class="image-upload">
                                                        <i class="fas fa-cloud-upload-alt"></i> Upload here!
                                                        </label>
                                                         <input type="file" name="Image" required accept="image/*" id="id_Image">
                                                        <button class="btn btn-dark post-btn" type="submit">Post</button>
                                                        <button class="btn btn-post-close fas fa-times" type="button"></button> 
                                                 </div>       
                                          
                                          </div>
                                   </div>
                            </form>              
                     </div>
              </div>

              
              <div>
                     {% block theme_block %}
                     {% endblock %}
              </div>

	       <div>
                     {% block body_block %}
                     
                     {% endblock %}
              </div>
              
              <div>
                     {% block side_block %}
                     {% endblock %}
              </div>
       </body>
       
</html>






