<!DOCTYPE html>


{% extends 'capturer/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% if category %}
{{ category.name }}
{% else %}
    Unknown Category
{% endif %}
{% endblock %}

{% block script_block %}
<script type="text/javascript" src="{% static "js/category.js" %}"></script>
{% endblock %}

{% block body_block %}
 <div class="index-area mx-0 ">
    <div class="panel  w-100 mx-0">
        {% for photo in most_popular %}
            <div class="col px-0 py-0  most-popular-card" >  
                <a href="{% url 'capturer:show_photo' photo.Category.slug photo.id %}">
                <img class="img_cover " src="{{ MEDIA_URL }}{{ photo.Image }}"/></a>
                <div class="Info">    
                    <span >{{photo.Category}}-</span>
                    <span >{{ photo.Title }}</span>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if photos %}
        <div class="" id="album_area">  
        {% for photo in photos %}
            <div class="col px-0 py-0  card" id="">  
                <a href="{% url 'capturer:show_photo' photo.Category.slug photo.id %}">
                <img class="card-img img-fluid" src="{{ MEDIA_URL }}{{ photo.Image }}"/></a>  
                <a class="category" href="{% url 'capturer:show_category' photo.Category.slug %}" >{{ photo.Category }}<a class="far fa-arrow"></a></a>
                <a class="author" href="{% url 'capturer:profile' photo.author.username %}">
                    {% if photo.author.userprofile.image%}
                        <img class="author-avatar" src="{{ MEDIA_URL }}{{ photo.author.userprofile.image }}" alt="Avatar" />
                    {% else %}
                        <img class = "author-avatar" src="{% static "default-img/avatar.png" %}"  >
                    {% endif %}  
                    &nbsp{{ photo.author.username }}</a>
                <div class= "like-btn" data-photoid="{{ photo.id }}">
                    <span class=" far like fa-heart" id="" ></span>
                </div>
                {% if photo.author != user %}
                    <div class= "collection-btn" data-url="{% url 'capturer:collection' photo.id %}" type="button">
                        {% if photo in profile.favorite.all %}
                            <span class=" favorite fas fa-bookmark"  ></span>
                        {% else %}
                            <span class=" favorite far fa-bookmark" ></span>
                        {% endif %}
                    </div>
                {% endif %}
                </div>
        {% endfor %}
    {% else %}
        <span> No photo</span>
    {% endif %}

</div>
{% endblock %}

