<!DOCTYPE html>


{% extends 'capturer/base.html' %}
{% load staticfiles %}


{% block title_block %}
    {{ user.username }}
{% endblock %}

{% block body_block %}

<div class="pt-1 photo_area flex-md-equal">
    {% if favorite %}
        <div class="" id="album_area">  
        {% for photo in favorite %}
            <div class="col px-0 py-0  card" id="album">  
                <a href="{% url 'capturer:show_photo' photo.Category.slug photo.id %}">
                <img class="card-img img-fluid" src="{{ MEDIA_URL }}{{ photo.Image }}"/></a>  
                <a class="category" href="{% url 'capturer:show_category' photo.Category.slug %}" >{{ photo.Category }}<a class="far fa-arrow"></a></a>
                <a class="author" href="{% url 'capturer:profile' photo.author.username %}"><img class="author-avatar" src="{{ MEDIA_URL }}{{ photo.author.userprofile.image }}" alt="Avatar" />&nbsp{{ photo.author.username }}</a>
                <span class="like-btn far like fa-heart" id="like_btn" data-photoid="{{ photo.id }}"></span>
                {% if photo.author != user %}
                    {% if photo in profile.favorite.all %}
                        <span class="collection-btn favorite fas fa-bookmark" id="collection_btn" data-url="{% url 'capturer:collection' photo.id %}", , type="button"></span>
                    {% else %}
                        <span class="collection-btn  favorite far fa-bookmark" id="collection_btn" data-url="{% url 'capturer:collection' photo.id %}", , type="button"></span>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <span> No photo</span>
    {% endif %}
</div>


{% endblock %}