<!DOCTYPE html>

{% extends 'capturer/base.html' %}
{% load staticfiles %}

{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}
<div> 
    {% if categories %} 
        <ul> 
            {% for category in categories %} 
            <li><a href="{% url 'capturer:show_category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %} 
        </ul> 
            {% else %} 
                <strong>There are no categories present.</strong> 
    {% endif %} 
</div> 

<p>
{% for photo in category1 %}
    <a href="{% url 'capturer:show_photo' photo.Category.slug photo.id %}"><img src="{{ MEDIA_URL }}{{ photo.Image }}" width="363" height="363" /></a>
{% endfor %}

{% for photo in category2 %}
    <a href="{% url 'capturer:show_photo' photo.Category.slug photo.id %}"><img src="{{ MEDIA_URL }}{{ photo.Image }}" width="363" height="363" /></a>
{% endfor %}

{% for photo in category3 %}
    <a href="{% url 'capturer:show_photo' photo.Category.slug photo.id %}"><img src="{{ MEDIA_URL }}{{ photo.Image }}" width="363" height="363" /></a>
{% endfor %}

{% for photo in category4 %}
    <a href="{% url 'capturer:show_photo' photo.Category.slug photo.id %}"><img src="{{ MEDIA_URL }}{{ photo.Image }}" width="363" height="363" /></a>
{% endfor %}
</p>
{% for photo in category5 %}
    <a href="{% url 'capturer:show_photo' photo.Category.slug photo.id %}"><img src="{{ MEDIA_URL }}{{ photo.Image }}" width="363" height="363" /></a>
{% endfor %}

{% for photo in category6 %}
    <a href="{% url 'capturer:show_photo' photo.Category.slug photo.id %}"><img src="{{ MEDIA_URL }}{{ photo.Image }}" width="363" height="363" /></a>
{% endfor %}

{% for photo in category7%}
    <a href="{% url 'capturer:show_photo' photo.Category.slug photo.id %}"><img src="{{ MEDIA_URL }}{{ photo.Image }}" width="363" height="363" /></a>
{% endfor %}

{% for photo in category8 %}
    <a href="{% url 'capturer:show_photo' photo.Category.slug photo.id %}"><img src="{{ MEDIA_URL }}{{ photo.Image }}" width="363" height="363" /></a>
{% endfor %}

{% endblock%}




