<!DOCTYPE html>


{% extends 'capturer/base.html' %}
{% load staticfiles %}

{% block body_block %}


<div class="container  px-5   form-change-password">

    <a class="mr-auto mx-0 mt-2 ml-1 " style = " font: 300 3rem 'Playfair Display SC', serif; color:black;">Change your password</a>
    <div class="pt-5">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit"  class="btn btn-dark sign-up-btn mt-5">Save changes</button>
        </form
    </div>
</div>
{% endblock %}