<!DOCTYPE html>

{% extends 'capturer/base.html' %}
{% load staticfiles %}

{% block title_block %}
Post a photo
{% endblock %}

{% block body_block %}
<h1>Post a photo</h1>
<div>  
    <form id="photo_form" method="post" action="{% url 'capturer:post_photo' %}" 
          enctype="multipart/form-data">
        {% csrf_token %}
        
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
                
    <input type="submit" name="submit" value="Post Photo">
    </form>

</div>

<div class = show_photo ></div>
{% endblock %}

{% block script_block %}
<script>

$(document).ready(function(){
    $("#id_Image").change(function () {

        if (typeof (FileReader) != "undefined") {

            var image_holder = $(".show_photo");
            image_holder.empty();

            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                "src": e.target.result,
                "class": "thumb-image",
                "height":"500px",  
                }).appendTo(image_holder);
            }
            image_holder.show();
            reader.readAsDataURL($(this)[0].files[0]);
        } else {
            alert("This browser does not support FileReader.");
        }
    });
});

</script>
{% endblock %}