<!DOCTYPE html>

{% extends 'capturer/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if user %}
        {{ user.username }}
    {% else %}
        Unknown user
    {% endif %}
{% endblock %}

{% block script_block %}
<script type="text/javascript" src="{% static "js/profile.js" %}"></script>
{% endblock %}


{% block body_block %}
    <div class="profile_page"></div>
    {% if user_profile %}
                <div class="position-relative overflow-hidden px-0 profile-container">
                    {% if best_photo%}
                    {% for photo in best_photo%}
                        <img class = "profile-background img-fluid" src="{{ MEDIA_URL }}{{ photo.Image }}"  >
                    {% endfor %}
                    {% else %}
                        <img class = "profile-background img-fluid" src="{% static "default-img/white.jpg" %}" style="opacity:0.3;" >
                    {% endif %}
                     <div class="media profile">
                        
                        <div class = "profile-avatar">
                            {% if user_profile.image%}
                            <img class ="photo" src="{{ MEDIA_URL }}{{ user_profile.image }}" >
                            {% else %}
                            <img class ="photo" src="{% static "default-img/avatar.png" %}"  >
                            {% endif %}
                        </div>
                        <div class="media-body text light profile-data">
                        <div class = "row mx-0" >
                        <h3 class="mt-2 ml-4 name" style="font-weight: 400;color:white;">{{ selected_user.username }}</h3>
                        {% if selected_user != user %}
                            {% if selected_user in profile.following.all %}
                                <button type="button" class="btn btn-outline-light  follow cancel-follow " data-url="{% url 'capturer:follow' selected_user.username %}" id="follow" value="Cancel Follow">Cancel Follow</button>
                            {% else %}
                                <button type="button" class="btn btn-outline-light  follow can-follow" data-url="{% url 'capturer:follow' selected_user.username %}" id="follow" value="Follow">Follow</button>
                            {% endif %}                           
                        {% endif %}
                        </div>
    
                        <h6 class="mt-0 ml-4 statistic"style="font-weight: 400;color:white;">{{ album.count }} posts {{ user_profile.following.count }} followings {{ follower_length }} followers</h5>
                        <h6 class="mt-0 ml-4 descr"style="font-weight: 400;color:white;">{{ user_profile.description }}</h5>
                 </div> 
                    </div>
                 </div>
                
                <!--
                <div class="product-device box-shadow d-none d-md-block"></div>
                <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
                -->
                </div>
                <div class="nav account-nav mx-0 w-100" id="account-nav">
                <ul>
                    <li class="one" id="btn-Album"><a href="#">Album</a></li>
                    <li class="two" id="btn-Favorite"><a href="#">Favorite</a></li>
                    <li class="three" id="btn-Review"><a href="#">Review</a></li>
                    <li class="four" id="btn-Following"><a href="#">Following</a></li>
                    <li class="five" id="btn-Profile"><a href="#">Profile</a></li>

                </ul>
                </div>
 
                <div class="pt-1 photo_area flex-md-equal">
                    <div class="" id="album_area">
                    {% if album %}  
                        {% for photo in album %}
                            <div class="col px-0 py-0  card" id="album">  
                                <a href="{% url 'capturer:show_photo' photo.Category.slug photo.id %}">
                                <img class="card-img img-fluid" src="{{ MEDIA_URL }}{{ photo.Image }}"/></a>  
                                <a class="category" href="{% url 'capturer:show_category' photo.Category.slug %}" >{{ photo.Category }}<a class="far fa-arrow"></a></a>
                                <a class="author" href="{% url 'capturer:profile' photo.author.username %}">
                                {% if photo.author.userprofile.image%}
                                    <img class="author-avatar" src="{{ MEDIA_URL }}{{ photo.author.userprofile.image }}" alt="Avatar" />
                                {% else %}
                                    <img class = "author-avatar" src="{% static "default-img/avatar.png" %}"  >
                                {% endif %}                               
                                &nbsp{{ photo.author.username }}</a>
                                <div class= "like-btn" data-photoid="{{ photo.id }}">
                                    <span class=" far like fa-heart" id="" ></span>
                                </div>
                                {% if photo.author != user %}
                                        <div class= "collection-btn" data-url="{% url 'capturer:collection' photo.id %}" type="button">
                                            {% if photo in profile.favorite.all %}
                                                <span class=" favorite fas fa-bookmark"  ></span>
                                            {% else %}
                                                <span class=" favorite far fa-bookmark" ></span>
                                            {% endif %}
                                        </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <span> No photo</span>
                    {% endif %}
                    </div>
                
                    <div id="favorite_area" style="display: none;">
                    {% if favorite %}  
                        {% for photo in favorite %}
                            <div class="col px-0 py-0  card" id="album">  
                                <a href="{% url 'capturer:show_photo' photo.Category.slug photo.id %}">
                                <img class="card-img img-fluid" src="{{ MEDIA_URL }}{{ photo.Image }}"/></a>  
                                <a class="category" href="{% url 'capturer:show_category' photo.Category.slug %}" >{{ photo.Category }}<a class="far fa-arrow"></a></a>
                                <a class="author" href="{% url 'capturer:profile' photo.author.username %}">
                                {% if photo.author.userprofile.image%}
                                    <img class="author-avatar" src="{{ MEDIA_URL }}{{ photo.author.userprofile.image }}" alt="Avatar" />
                                {% else %}
                                    <img class = "author-avatar" src="{% static "default-img/avatar.png" %}"  >
                                {% endif %}  
                                &nbsp{{ photo.author.username }}</a>
                                <div class= "like-btn" data-photoid="{{ photo.id }}">
                                    <span class=" far like fa-heart" id="" ></span>
                                </div>
                                {% if photo.author != user %}
                                        <div class= "collection-btn" data-url="{% url 'capturer:collection' photo.id %}" type="button">
                                            {% if photo in profile.favorite.all %}
                                                <span class=" favorite fas fa-bookmark"  ></span>
                                            {% else %}
                                                <span class=" favorite far fa-bookmark" ></span>
                                            {% endif %}
                                        </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <span> No photo</span>
                    {% endif %}
                    </div>
                    <div id="review_area" style="display: none;">
                    {% if review_photos %}  
                        {% for photo in review_photos %}
                            <div class="col px-0 py-0  card" id="album">  
                            <a href="{% url 'capturer:show_photo' photo.Category.slug photo.id %}">
                            <img class="card-img img-fluid" src="{{ MEDIA_URL }}{{ photo.Image }}"/></a>  
                            <a class="category" href="{% url 'capturer:show_category' photo.Category.slug %}" >{{ photo.Category }}<a class="far fa-arrow"></a></a>
                            <a class="author" href="{% url 'capturer:profile' photo.author.username %}">
                            {% if photo.author.userprofile.image%}
                                    <img class="author-avatar" src="{{ MEDIA_URL }}{{ photo.author.userprofile.image }}" alt="Avatar" />
                                {% else %}
                                    <img class = "author-avatar" src="{% static "default-img/avatar.png" %}"  >
                                {% endif %}  
                                &nbsp{{ photo.author.username }}</a>
                            <div class= "like-btn" data-photoid="{{ photo.id }}">
                                <span class=" far like fa-heart" id="" ></span>
                            </div>
                            {% if photo.author != user %}
                                <div class= "collection-btn" data-url="{% url 'capturer:collection' photo.id %}" type="button">
                                    {% if photo in profile.favorite.all %}
                                        <span class=" favorite fas fa-bookmark"  ></span>
                                    {% else %}
                                        <span class=" favorite far fa-bookmark" ></span>
                                    {% endif %}
                                </div>
                            {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <span> No photo</span>
                    {% endif %}
                    </div>

                    <div id="following_area" style="display: none;">
                        {% if following %}  
                            {% for photo in following %}
                                <div class="col px-0 py-0  card" id="album">  
                                <a href="{% url 'capturer:show_photo' photo.Category.slug photo.id %}">
                                <img class="card-img img-fluid" src="{{ MEDIA_URL }}{{ photo.Image }}"/></a>  
                                <a class="category" href="{% url 'capturer:show_category' photo.Category.slug %}" >{{ photo.Category }}<a class="far fa-arrow"></a></a>
                                <a class="author" href="{% url 'capturer:profile' photo.author.username %}">
                                {% if photo.author.userprofile.image%}
                                    <img class="author-avatar" src="{{ MEDIA_URL }}{{ photo.author.userprofile.image }}" alt="Avatar" />
                                {% else %}
                                    <img class = "author-avatar" src="{% static "default-img/avatar.png" %}"  >
                                {% endif %}  
                                &nbsp{{ photo.author.username }}</a>
                                <div class= "like-btn" data-photoid="{{ photo.id }}">
                                    <span class=" far like fa-heart" id="" ></span>
                                </div>
                                {% if photo.author != user %}
                                    <div class= "collection-btn" data-url="{% url 'capturer:collection' photo.id %}" type="button">
                                        {% if photo in profile.favorite.all %}
                                            <span class=" favorite fas fa-bookmark"  ></span>
                                        {% else %}
                                            <span class=" favorite far fa-bookmark" ></span>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <span> No photo</span>
                        {% endif %}
                    </div>
                </div>

                <div class=" profile-area flex-md-equal">
                    <div class ="avatar-big-area">
                        {% if user_profile.image%}
                                    <img class="photo" src="{{ MEDIA_URL }}{{ user_profile.image }}" alt="Avatar" />
                                {% else %}
                                    <img class = "photo" src="{% static "default-img/avatar-profile.png" %}"  >
                                {% endif %}  
                                &nbsp{{ photo.author.username }}
 
                    </div>

                    <div class = "info-area">
                    <div class = "row d-flex">
                            <div class=""style="flex-basis: 0">
                                <span class="mt-1 ml-3 name" >{{ selected_user.username }}</span>
                            </div>
                            <div class="col">
                            
                            {% if selected_user == user %}
                            <div class="row mx-0">
                                <a type="button" class="btn btn-dark btn-edit" href="{% url 'capturer:profileModify' selected_user.username %}" value="Edit profile">Edit profile</a>  
                            </div>
                            {% endif %}    
                            <div class="row mx-0">
                             {% if user_profile.gender == 'male' %}
                                <span class="gender ml-3 fa fa-mars"></span>
                            {% else %}
                                <span class="gender ml-3 fa fa-venus"></span>
                            {% endif %}
                             </div>
                            </div>

                    </div>

                    <div class = "row mb-2 d-flex">
                        <span class="mt-0 ml-3 statistic">{{ album.count }} posts<span> 
                        <span class="mt-0 ml-3 statistic">{{ follower_length }} followers<span>
                        <span class="mt-0 ml-3 statistic">{{ user_profile.following.count }} followings</span>
                        
                    </div>
                    <div class = "row mb-5 d-flex">
                        <p class="ml-3  descr">{{ user_profile.description }}</p>
                    </div>
                    
                    <div class = "row d-flex">
                        <span class="mt-0 ml-3 contact"><span class="fas fa-envelope"></span> {{ selected_user.email }}</span>
                    </div>
                     <div class = "row d-flex">
                        <span class="mt-4 ml-3 contact"><span class="fas fa-home"></span> {{ user_profile.postcode }}</span>
                    </div>
                </div> 

{% else %}
        The specified userprofile deos not exist.
{% endif %} 
{% endblock %}








