<!DOCTYPE html>

{% extends 'capturer/base.html' %}
{% load staticfiles %}

{% block title_block %}
Register
{% endblock %}

{% block script_block %}
<script>
    // $('#id_image').change(function(){
    //     var obj=$("#id_image")[0].files[0];
    //     var fr=new FileReader();
    //     fr.onload=function () {
    //            $("#avatarPreview").attr('src',this.result);
    //            console.log(this.result);
    //            $("#avatar").val(this.result);
    // })


</script>

{% endblock %}

{% block body_block %}
   <div class="container mt-5 pt-3 px-5   form-sign-up">
        
    {% if registered %}
       <div  class = "row mx-0  mt-5 mb-1" style="width:100%">
           <span class="finished">Thank you for signing up!</span >
           
        </div>
        <div  class = "row mx-0  mt-3 mb-1" style="width:100%">
        <a  class="finished" href="{% url 'capturer:login' %}" style="font-family: 'Roboto', sans-serif; font-size:0.8rem ;color:rgba(62, 120, 240, 0.9);">Go to sign in!</a><br />
         </div>
    {% else %}
        <a class="mr-auto mx-0 ml-1" style = " font: 400 30px 'Playfair Display SC', serif; color:black;">Create an Account</a>
        <div  class = "row mx-0  mt-2 mb-3">
            <span class="sign-in">Have a Capturer account? </span>
            <a class="sign-in font-weight-normal" 
            href="{% url 'capturer:login' %}" style="font-family: 'Roboto', sans-serif; font-size:0.8rem ;color:rgba(62, 120, 240, 0.9);"> Sign In</a>
        </div>

        <form id="user_form" method="post" action="{% url 'capturer:register' %}" enctype="multipart/form-data">
            <div class="form">
                <div class = "row mx-0">
                {% csrf_token %}
                <!--display each form-->
                    <div class = "row form-col mx-0 ">
                        <input id="id_username" placeholder="Username" maxlength="150" name="username" required="" type="text"> 
                        <span class="helptext"> Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
                    </div>
                    <div class = "row form-col mx-0  ">
                        <input id="id_password" placeholder="Password" name="password" required="" type="password">
                    <span class="helptext"> Required. </span>
                    </div>
                    <div class = "row form-col mx-0 ">
                        <input id="id_nickname" placeholder="Nickname" maxlength="20" name="nickname" required="" type="text"> <span class="helptext">20 characters or fewer.</span>
                    </div>
                     <div class = "row form-col mx-0">
                        <input id="id_email" placeholder="Email" maxlength="254" name="email" type="email">
                        <span class="helptext">Should contain '@'.</span>
                    </div>
                    <div class = "row mx-0 form-col ml-2 mb-1">
                    <label for="id_gender_0" class="form-header" >Gender (Required)</label>
                    <ul id="id_gender">
                        <li><label for="id_gender_0"><input id="id_gender_0" name="gender" required="" type="radio" value="male">Male</label></li>
                        <li><label for="id_gender_1"><input id="id_gender_1" name="gender" required="" type="radio" value="female">Female</label></li>
                    </ul>
                    </div>
                    <div class = "row mx-0 form-col">
                        <input id="id_description" placeholder="Description"maxlength="500" name="description" required="" type="text"> <span class="helptext">Optional</span></p>
                    </div>
                    <div class = "row mx-0 form-col">
                        <input id="id_postcode" maxlength="10" placeholder="Postcode"name="postcode" required="" type="text"> <span class="helptext">Optional</span></p>
                    </div>
                    <div class = "row mx-0 form-col ml-2">
                        <label for="id_image" class="form-header" >Avatar (Optional)</label> 
                        <div class="mb-3" style="width:100%">
                        <img class="sign-up-avatar" src="/static/tem-img/train-2373323.jpg"/>
                        </div>
                        <input accept="image/*" id="id_image" name="image" type="file">
                    </div>
                    <div class = "row mx-0 form-col ml-2 mb-3">
                    <button class="btn btn-dark sign-up-btn" type="submit" name="submit" value="Register" />Submit</button>
                    </div>
                    
            <!--Provide a button to click to submit the form.-->
                
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
