<!DOCTYPE html>

{% extends 'capturer/base.html' %}
{% load staticfiles %}



{% block title_block %}
    show photo
{% endblock %}

{% block script_block %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "js/show_photo.js" %}"></script>
<script >
$(document).ready(function(){
    $('#review_form').submit(function(event) {
        event.preventDefault();
        $('.error-message').text('');
        CKEDITOR.instances['id_content'].updateElement();
        
        $.ajax({
            url: "{% url 'capturer:upload_comment' photo.id %}",
            type: 'POST',
            data: $(this).serialize(),
            // async: false,
            success: function(data){
                console.log(data);
                if(data['status']=="success"){ 
                    review_html =  '<div class=\"rol mx-0 mb-4\">'+
                                    '<div class=\"col mx-0 px-0 d-flex\">'+
                            '<a href=\"{% url \'capturer:profile\' '+ data['profile_name'] +'\">'+
                            '<img class=\"review-avatar\"src=\"' + data['profile_avatar'] +'\" alt=\"Avatar\" />'+'</a>'+
                            '<div class=\"col mx-0\" style=\"\">'+
                                '<div class=\"row mx-0\">'+
                                '<a class=\"review-author\" href=\"{% url \'capturer:profile\''+ data['profile_name'] +'\">' + data['profile_name'] +'&nbsp;</a>'+
                                '<div class=\"review-content\">'+
                                    data['content']+
                                '</div>'+
                                '</div>'+
                                '<div class=\"row mx-0\">'+
                                    '<span class=\"review-time\">' +' ' +data['date'] + ':'+'</span>'+
                                '</div>'+
                            '</div>'+                               
                        '</div>'+                          
                        '</div>';
                    $('#show_reviews').prepend(review_html)

                    CKEDITOR.instances['id_content'].setData('');
                    reviews=reviews+1;
                        $('#review-btn').text(reviews+' reviews');
                }else{
                    $('.error-message').text(data['message']).show();
                }
            },
            error: function(xhr){
                console.log(data);
            }
        });
        return false;
    });
})
</script>

{% endblock %}

{% block body_block %}
{% if photo %}
    <span id ="review_num" style="display:none;">{{ reviews|length }}</span>
    <div class="position-relative overflow-hidden px-0  pt-1 photoPage">
        <div class = "photoPage-img" id="pic">
            <img class = "img-fluid" src="{{ MEDIA_URL }}{{ photo.Image }}"  >
        </div>

         
         <a class="back-btn" id="back-btn"href="javascript:history.back()"><span class="fas fa-arrow-right"></span></a>
         
        <div class = "panel" id="main_panel">
            <a class="review-back-btn fixed-top" id="review-back-btn"><span class="fas fa-times"></span></a>
            <div class = "row mx-0 mt-4 pt-0 ">
                <a class="category" href="{% url 'capturer:show_category' photo.Category.slug %}">{{ photo.Category }}</a>
            </div>
            <div class = "row author mt-2 mx-0  ">
                <div class ="col px-0 mx-0 ">
                    <div class="media ">
                       <a href="{% url  'capturer:profile' photo.author.username %} ">
                       {% if photo.author.userprofile.image%}
                            <img class="author-avatar" src="{{ MEDIA_URL }}{{ photo.author.userprofile.image }}" alt="Avatar" />
                        {% else %}
                            <img class = "author-avatar" src="{% static "default-img/avatar.png" %}"  >
                        {% endif %}  
                       </a>
                        <div class="media-body ml-1 mr-2 pt-2 pr-0 row" style= "overflow: hidden; flow:left;">
                            <div class="col-md-auto mx-0 pl-4 ">
                                <div class="row">
                                    <div  class="col col-md-auto mr-2 px-0" style="">
                                        <a class="mb-0 name a-link"  href="{% url  'capturer:profile' photo.author.username %}">{{photo.author.username }}</a>
                                    </div>
                                    <div  class="col col-md-auto mr-auto mx-0 px-0" style="">
                                        {% if photo.author != user %}
                                                <div class="message-section" style="display:none;"></div>
                                                
                                            {% if photo.author in profile.following.all %}
                                                <input data-url="{% url 'capturer:follow' photo.author.username %}" id="follow-button" type="button" value="Cancel Follow" class="btn btn-dark follow" style="font-size:0.8rem; "></input>
                                            {% else %}
                                                <input data-url="{% url 'capturer:follow' photo.author.username %}" id="follow-button" type="button" value="Follow" class="btn btn-dark follow" style="font-size:0.8rem; "></input>
                                            {% endif %}
                                        {% else%}
                                            <input data-url="{% url 'capturer:delete' photo.id %}" id="delete_btn" type="button" value="Delete this photo" class="btn btn-black-border follow" style="font-size:0.5rem; "></input>
                                        {% endif %}   
                                    </div>
                                </div>
                                <!--
                                <p class="pt-0" style="max-width:5rem;font-family: 'Roboto', sans-serif; font-size:0.8rem; overflow: hidden; text-overflow: ellipsis; color: rgb(114,114,114,0.9)">{{photo.author.userprofile.description }}</p>
                                -->                           
                            </div>
                        </div>
                    </div>      
                </div>
            </div>
                <div class ="row mx-0 "  >
                    <span class="photo-title mt-2 mb-0">{{ photo.Title }}</span>
                </div>
                <div class="row mt-0 mx-0 mb-2">
                        <div class ="col-md-auto photo-describ-area mx-0 px-0 ">
                            <span class=" photo-describ mt-0 ">{{ photo.Description }}</span>
                        </div>
                        
                </div>
                <div class="row mx-0 mt-2 mb-0">
                    <p class="photo-tag-area mb-0">
                        {% for tag in photo_tags %}
                            <span class="fas fa-tag"></span>
                            <span> </span>
                            <span class="photo-tag"><a href="/search/?q={{ tag.name }}">{{ tag.name }}</a></span>
                            <span> </span>
                        {% endfor %}
                    </p>
                
                </div>

               
                <div class="row mx-0  my-1" style = "padding-top:0; padding-bottom:0.1rem; border-bottom: 0.01142857rem solid #bbb; " >   
                </div>
               

                <div class="row mx-0 statistic">
                    <span class="">Views {{ photo.views }}</span>
                    <span class="ml-2" id="like_count">Likes {{ photo.Like }}</span>
                    <span class=" ml-auto date">{{ photo.Date }}</span>
                </div>
                <div class=" action row mx-0 my-1 ">
                    <span class="show-pic-like-btn far fa-heart mr-3" id="show_pic_like_btn" data-photoid="{{ photo.id }}"></span>
                    {% comment %} <span class="mx-4 comment-btn far fa-comment" id="com_btn" data-photoid="{{ photo.id }}"></span> {% endcomment %}
                    {% if photo.author != user %}
                        {% if photo in profile.favorite.all %}
                            <span class="show_pic_collection-btn fas fa-bookmark" id="show_pic_collection_btn" data-url="{% url 'capturer:collection' photo.id %}" type="button" style="display:inline"></span>
                            
                        {% else %}
                            <span class="show_pic_collection-btn far fa-bookmark" id="show_pic_collection_btn" data-url="{% url 'capturer:collection' photo.id  %}" type="button"></span>
                            
                        {% endif %}
                    {% endif %}
                </div>
                <div class=" review">

                    <div class="rol  mx-0 mt-2 mb-3">
                        <span class="review_title" id="review-btn">{{ reviews|length }} reviews <span class="fas fa-caret-down"></span></span> 
                    </div>
                     <div class="rol mx-0 mb-2">
                            <div class="col mx-0 px-0 d-flex">
                                <div class="review-write-panel ">
                                    <form id="review_form" method="POST">
                                        <div class=" rol mx-0 my-1 ">
                                            <div class=" my-1 ">
                                            {% csrf_token %}
                                            {% for field in form_review %}
                                            {{ field }}
                                            {% endfor %}
                                            <div class="error-message" style="display:none;"></div>
                                            <button class="review-submit-btn" id="comment_btn" type="submit" name="submit">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>                          
                        </div>
                    <div class="rol  mx-0" id="reviews_panel" style="display:none">
                       
                    <div class="rol  mx-0" id="show_reviews" >
                        {% if reviews %}
                            {% for review in reviews %}
                                <div class="rol mx-0 mb-4">
                                    <div class="col mx-0 px-0 d-flex">
                                        <a href="{% url 'capturer:profile' review.profile.user.username %} "></a>
                                        <img class="review-avatar"src="{{ MEDIA_URL }}{{ review.profile.image }}" alt="Avatar" /></a>
                                        <div class="col mx-0" style="width:70%">
                                            <div class="row mx-0">
                                                <a class="review-author" href="{% url 'capturer:profile' review.profile.user.username %} ">{{ review.profile.user.username }}&nbsp;</a>
                                                <div class="review-content">
                                                    {{ review.content|safe }}
                                                </div>
                                            </div>
                                            <div class="row mx-0">
                                                <span class="review-time">{{ review.date|date:"Y-m-d H:i:s" }}</span>
                                            </div>
                                        </div>                               
                                    </div>                          
                                </div>
                            {% endfor %}
                        {% else %}
                        <div class="rol  mx-0 mt-2 mb-3">
                            <span class="review_title_unactive"></span>                        
                        </div>
                        <div class="rol  mx-0" id="show_reviews" style="display:none">
                        </div>
                    {% endif %}
                    </div>
                 </div>
                </div>
                    

            </div>
        </div>
    </div>
    <div class="row mx-0">
        <h6 class="mt-0 ml-3 relate-title">More like this</h5>
    </div>  
    <div class="pt-1 related_photos_area flex-md-equal">
                   {% if related_photos %}
                        {% for photo in related_photos %}   
                            <div class="col px-0 py-0  card" id="">  
                                <a href="{% url 'capturer:show_photo' photo.Category.slug photo.id %}">
                                <img class="card-img img-fluid" src="{{ MEDIA_URL }}{{ photo.Image }}"/></a>  
                                <a class="category" href="{% url 'capturer:show_category' photo.Category.slug %}" >{{ photo.Category }}<a class="far fa-arrow"></a></a>
                                <a class="author" href="{% url 'capturer:profile' photo.author.username %}">
                                {% if photo.author.userprofile.image%}
                                    <img class="author-avatar" src="{{ MEDIA_URL }}{{ photo.author.userprofile.image }}" alt="Avatar" />
                                {% else %}
                                    <img class = "author-avatar" src="{% static "default-img/avatar.png" %}"  >
                                {% endif %}  
                            
                                &nbsp{{ photo.author.username }}</a>
                                <div class= "like-btn" data-photoid="{{ photo.id }}">
                                    <span class=" far like fa-heart" id="" ></span>
                                </div>
                                {% if photo.author != user %}
                                    <div class= "collection-btn" data-url="{% url 'capturer:collection' photo.id %}" type="button">
                                        {% if photo in profile.favorite.all %}
                                            <span class=" favorite fas fa-bookmark"  ></span>
                                        {% else %}
                                            <span class=" favorite far fa-bookmark" ></span>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <span> No photo</span>
                    {% endif %}
        </div> 
  </div>
 
    {% endif %}
{% endblock %}                    