<!DOCTYPE html>

{% extends 'capturer/base.html' %}
{% load staticfiles %}




{% block title_block %}
    show photo
{% endblock %}

{% block script_block %}

<script>
    $(document).ready(function(){
        $('#collection_btn').click(function() {
           
            $.get($(this).data('url'), function(response) {
                $('.message-section').text(response.message);
                if($('.message-section').text() == "2"){
                    $('#collection_btn').attr("value","Connection")
                }else if ($('.message-section').text() == "1"){
                    $('#collection_btn').attr("value","Cancel Connection")
                }
                
            });
        });
    })

    $(document).ready(function() { 
        $('#like_btn').click(function() { 
            var IdVar; 
            IdVar = $(this).attr('data-photoid');
            
            $.get('/capturer/like_photo/', 
                {'photo_id': IdVar}, 
                function(data) { 
                    $('#like_count').html(data); 
                    $('#like_btn').hide(); 
                })
        });
    });

    $(document).ready(function(){
        $('#delete_btn').click(function() {
            if(confirm("Are you sure to delete your post?")){
                $.get($(this).data('url'), function(response) {
                // window.history.back(-1);
                // window.open("{% url 'capturer:profile' user.username %}");
                window.location.href=document.referrer;
                })
            }
        });
    })
 
    
</script>

{% endblock %}

{% block body_block %}
<h1>show photo</h1>
    {% if photo.author == user %}
    <!-- <li><a href="{% url 'capturer:delete' photo.id %}">Delete</a></li> -->
    <input type="button" id="delete_btn" data-url="{% url 'capturer:delete' photo.id %}" value="Delete">
    {% endif %}
    
    <div class="message-section" style="display:none;"></div>

    {% if photo.author != user %}
        {% if photo in profile.favorite.all %}
            <p><input id="collection_btn" data-url="{% url 'capturer:collection' photo.id %}", value="Cancel Collection", type="button"></input></p>
        {% else %}
            <p><input id="collection_btn" data-url="{% url 'capturer:collection' photo.id %}", value="Collection", type="button"></input></p>
        {% endif %}
    {% endif %}

    <p>Visits: {{ photo.views }}</p>
    <div> 
        <strong id="like_count">{{ photo.Like }}</strong> likes 
        <button id="like_btn" data-photoid="{{ photo.id }}" class="btn btn-primary btn-sm" type="button">Like</button> 
    </div>


    {% if photo %}
        <img src="{{ MEDIA_URL }}{{ photo.Image }}" width="100" height="100" />
        Description:{{ photo.Description }}
        Likes:{{ photo.Like }}
        Views:{{ photo.views }}
        tags:{% for tag in tags %}
                {{ tag.name }}
        {% endfor %}
        Date:{{ photo.Date }}
        Title:{{ photo.Title }}
        Reviews:{% for review in reviews %}
            <li><img src="{{ MEDIA_URL }}{{ review.profile.image }}" width="30" height="30" alt="Avatar" />
            <a href="{% url 'capturer:profile' review.profile.user.username %} ">{{ review.profile.user.username }}</a></li>
            Content:{{ review.content }}
            Date:{{ review.date }}
        {% endfor %}
    {% endif  %}

    <form id="review_form" method="post" action="." >
        {% csrf_token %}
        {{ form.content }}
    <input type="submit" name="submit" value="review">
    </form>
{% endblock %}