<!DOCTYPE html>

{% extends 'capturer/base.html' %}
{% load staticfiles %}



{% block title_block %}
    show photo
{% endblock %}

{% block script_block %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<script>
    $(document).ready(function(){
        $('#collection_btn').click(function() {
           
            $.get($(this).data('url'), function(response) {
                $('.message-section').text(response.message);
                if($('.message-section').text() == "2"){
                    $('#collection_btn').attr("value","Collection")
                }else if ($('.message-section').text() == "1"){
                    $('#collection_btn').attr("value","Cancel Collection")
                }
                
            });
        });
    })

    $(document).ready(function() { 
        $('#like_btn').click(function() { 
            var IdVar; 
            IdVar = $(this).attr('data-photoid');
            
            $.get('/capturer/like_photo/', 
                {'photo_id': IdVar}, 
                function(data) { 
                    $('#like_count').html(data); 
                    $('#like_btn').hide(); 
                })
        });
    });

    $(document).ready(function(){
        $('#delete_btn').click(function() {
            if(confirm("Are you sure to delete your post?")){
                $.get($(this).data('url'), function(response) {
                    window.location.href=document.referrer;
                })
            }
        });
    })

    $(document).ready(function(){
        $('#review_form').submit(function(event) {
            event.preventDefault();
            $('.error-message').text('');
            CKEDITOR.instances['id_content'].updateElement();
            
            $.ajax({
                url: "{% url 'capturer:upload_comment' photo.id %}",
                type: 'POST',
                data: $(this).serialize(),
                // async: false,
                success: function(data){
                    console.log(data);
                    if(data['status']=="success"){ 
                        review_html = '<div>' + '<img src=\"' + data['profile_avatar'] + '\" width=\"30\" height=\"30\" alt=\"Avatar\"' +'/>'
                                     +  '<a href=\"/capturer/' + data['profile_name'] +'/profile/\">' + data['profile_name'] +'</a>'    
                                     + ' ' +data['date'] + ':' + data['content'] + '</div>';
                        $('#show_reviews').prepend(review_html)

                        CKEDITOR.instances['id_content'].setData('');
                    
                    }else{
                        $('.error-message').text(data['message']).show();
                    }
                }, 
                error: function(xhr){
                    console.log(data);
                }
            });
            return false;
        });  
    })
    
</script>

{% endblock %}

{% block body_block %}
<h1>show photo</h1>
    {% if photo.author == user %}
    <input type="button" id="delete_btn" data-url="{% url 'capturer:delete' photo.id %}" value="Delete">
    {% endif %}
    
    <div class="message-section" style="display:none;"></div>

    {% if photo.author != user %}
        {% if photo in profile.favorite.all %}
            <p><input id="collection_btn" data-url="{% url 'capturer:collection' photo.id %}", value="Cancel Collection", type="button"></input></p>
        {% else %}
            <p><input id="collection_btn" data-url="{% url 'capturer:collection' photo.id %}", value="Collection", type="button"></input></p>
        {% endif %}
    {% endif %}

    <p>Visits: {{ photo.views }}</p>
    <div> 
        <strong id="like_count">{{ photo.Like }}</strong> likes 
        <button id="like_btn" data-photoid="{{ photo.id }}" class="btn btn-primary btn-sm" type="button">Like</button> 
    </div>


    {% if photo %}
        <p><img src="{{ MEDIA_URL }}{{ photo.Image }}" width="800" height="800" /></p>
        <p>Description:{{ photo.Description }}</p>
        <!-- <p>Likes:{{ photo.Like }}</p>
        <p>Views:{{ photo.views }}</p> -->
        <p>Tags:{% for tag in tags %}
                {{ tag.name }}
        {% endfor %}
        </p>
        <p>Date:{{ photo.Date }}</p>
        <p>Title:{{ photo.Title }}</p>
    

        <form id="review_form" method="POST">
            {% csrf_token %}
            {% for field in form %}
                {{ field }}
            {% endfor %}
            <div class="error-message" style="display:none;"></div>
            <input id="comment_btn" type="submit" name="submit" value="submit" style="margin-left:745px">
        </form>

        

        <h2>Reviews:</h2>
        <div id="show_reviews">
            {% for review in reviews %}
                <img src="{{ MEDIA_URL }}{{ review.profile.image }}" width="30" height="30" alt="Avatar" />
                <a href="{% url 'capturer:profile' review.profile.user.username %} ">{{ review.profile.user.username }}</a>
                    {{ review.date|date:"Y-m-d H:i:s" }}:
                    <p>{{ review.content|safe }}</p>
        </div>
        {% empty %}
            No review!
        {% endfor %}
    {% endif %}
{% endblock %}